<div class="contacts-table-container">
  <div class="contacts-table-title">
    <h1>Contact Overview</h1>
    <button mat-stroked-button color="primary" id="addContactBtn" (click)="openNewContactDialog()"
            matTooltip="Add new contact">New Contact
    </button>
  </div>

  <div class="contacts-table">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="ssn">
        <th mat-header-cell *matHeaderCellDef> SSN</th>
        <td mat-cell *matCellDef="let contact"> {{contact.ssn}} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name</th>
        <td mat-cell *matCellDef="let contact"> {{contact.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name</th>
        <td mat-cell *matCellDef="let contact"> {{contact.lastName}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" style="position: sticky "></tr>
      <tr mat-row [routerLink]="'/contact/' + row.ssn" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator (page)="onChangePage($event)" [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="length"
                   [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

  <div class="mock-data-generate-container">
    <mat-form-field>
      <mat-label># Contacts</mat-label>
      <input matInput type="number" id="mockInput" matTooltip="Number of mock contacts to generate"
             [(ngModel)]="mockContacts">
    </mat-form-field>
    <button mat-stroked-button color="primary" id="createMockDataBtn" matTooltip="Generate mock contact data"
            (click)="createMockData()">Create Mock Data
    </button>

  </div>
</div>
